<h1>Admin Dashboard</h1>
<br>

<h4>Number of <%= link_to 'Products', '/admin/products' %></h4> <%=@product_count%>
<br>

<h4>Number of <%= link_to 'Categories', '/categories/1' %></h4> <%=@category_count%>


